* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
.row {
    margin: 100px 10px 30px 10px;

}
.col-sm-6 {
    padding: 30px 30px 50px 30px;
    background-color: whitesmoke;
    border-radius: 10px;
}
.navbar {
    padding: 0px 0px 25px 0px;
}
.navbar-brand img {
    width: 50%;
}
.elements {
    font-size: 25px;
}
.movie{
    display: inline;
    margin-left: 8px;
}

a img {
    display: none;
}

a:hover img {
    display: inline;   
}
.movie :first-child {
    width: 75px;
    height: 100px;
}
.checkbox button {
    margin: 0px 0px 0px 20px;
}
