* {
    box-sizing: border-box;
}
img {
    width: 100%;
}
.row {
    margin: 100px 10px 30px 10px;

}
img {
    display: block;
    margin: auto;
    max-width: 200px;
    max-height: 200px;
}
.navbar-brand {
    max-width: 60px;
    margin: 0px 5px 10px 5px;
}
.elements {
    font-size: 25px;
}
